/**
*Displays batchweekly reports starting with the most recent
*@Authors Vincent, Dominic
*/
<center><h1>Revature Reports</h1></center>
<center>
<ul class="list-group">
  <li class="list-group-item">
    <h4>9/9/18-9/15/18</h4><br>
     {{#link-to "batchweekly" 1}}
     Batch 1: week 10<br>
    {{/link-to}}
    Batch 2: week 10<br>
    Batch 3: week 10<br>
  </li>
    <li class="list-group-item">
    <h4>9/3/18-9/7/18</h4><br>
    Batch 1: week 9<br>
    Batch 2: week 9<br>
    Batch 3: week 9<br>
  </li>
    <li class="list-group-item">
    <h4>8/27/18-8/31/18</h4><br>
    Batch 1: week 8<br>
    Batch 2: week 8<br>
    Batch 3: week 8<br>
  </li>
</ul>
</center>
{{outlet}}