{{nav-bar}}

<button {{action "makeTest" 1234}}>make test report</button>

{{#link-to "batchweekly" "cbc08968-97ba-4cb3-9f91-ab707d8ef90a" tagName='button'}}View Weekly Batch Report{{/link-to}}

{{outlet}}