{{nav-bar}}

<button {{action "makeTest" 1234}}>make test report</button>

{{#link-to "batchweekly" 1 tagName='button'}}View Weekly Batch Report{{/link-to}}
{{#link-to "associateweekly" 1 tagName='button'}}View Weekly Associate Report{{/link-to}}
{{outlet}}