<<<<<<< HEAD
=======
<p>This is the weekly associate report.</p>
>>>>>>> juby

{{#each model as |report|}}
<div>
    <div class="container">
<<<<<<< HEAD
        {{associate-report varData=report}}
=======
        {{pie-chart varData=report}}
>>>>>>> juby
    </div>
</div>
{{/each}}
