<ul class="list-group">
    {{#each model as |report|}}
    <li class="list-group-item1">
        <div>
            <div class="container">
                {{pie-chart varData=report}}
            </div>
        </div>
    </li>
    {{/each}}
</ul>