<p>This is the weekly batch report.</p>

{{#each model as |report|}}
<div>
    <div class="container">
        {{pie-chart varData=report}}
    </div>
</div>
{{/each}}

<p>End batch report.</p>